/* My Personal WebPage Project */

/* Header */
body {
    margin: 0;
}

.navigationMenu {
    display: flex;
    position: fixed;
    align-items: center;
    background-color: black;
    height: 10%;
    width: 100%;
    padding-left: 10px;
}

#navMenuLinks {
    text-decoration: none;
    color: white;
    transition: color .3s ease-in-out;
    font-family: lato,sans-serif;
    font-weight: 500;
    padding: 0 10px 0 10px;
}

#navMenuLinks:hover{
    color: rgb(190, 184, 184);
}

.firstSection {
    display: flex;
    background-color: rgb(28, 28, 29);
    width: 100%;
    padding-top: 5%;
}

.textsOfPresentation {
    padding-left: 5%;
    width: 95%;
}

.socialMediaFirstSection {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 20px 0 20px 0;
    width: 5%;
}

.textTitle {
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    margin: 0;
}

.textSubtitle {
    color: #da6041;
    font-size: 42px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 100px;
}

.socialMediaFirstSection a {
    padding: 10px 0 10px 0;
}

.fa-brands {
    color: white;
    border: 3px solid white;
    border-radius: 15px;
    padding: 4px;
    transition: border 0.4s ease, color 0.5s ease;
}

.fa-brands:hover {
    color: #da6041;
    border: 3px solid #da6041;
}

.fa-facebook-f:before {
    margin: 0 3px;
}

.fa-linkedin-in:before, .fa-instagram:before {
    margin: 0 1px;
}

.secondSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container {
    width: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.textTitleSecondSection {
    font-size: 54px;
    font-family: 'Roboto Slab', serif;
    color: #da6041;
    font-weight: 700;
    text-align: left;
}

.paragraph {
    text-align: left;
    margin-top: 20px;
    color: rgb(66, 84, 117);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
}

.textSubtitleSecondSection {
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    font-family: 'Roboto Slab', serif;
}

.imageProfile {
    border-radius: 500px;
    margin-top: 35px;
}

.thirdSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0 50px 0;
    background-color: rgb(28, 28, 29);
}

.containerThirdSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    width: 30%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.titlesThirdSection {
    color: rgb(255, 255, 255);
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin: 20px 0px 0px;
    font-size: 20px;
    font-family: 'Roboto Slab', sans-serif;
}

.paragraphsThirdSection {
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    line-height: 1.4;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.readMoreLink {
    display: table;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #da6041;
    text-decoration: none;
}

.readMoreLink::after {
    content: "";
    display: flex;
    height: 3px;
    background-color: #da6041;
    transform: scale(0,1);
    transform-origin: right;
    transition: transform .6s;
}

.readMoreLink:hover::after {
    transform: scale(1,1);
}

